// Fonts
@import 'fonts';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1260px) {
    .container {max-width: 1200px;}
}
@media (max-width: 767px) {
    .hide-sm {display: none;}
}

html, body {
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: $main-text;
    background: $main-white;
}
hr {
    border-color: #E5E5E5;
}

h1, h2, h3, h4 {
    font-family: 'BebasNeue', sans-serif;
    font-weight: 700;
    line-height: 1;
}
h1 {
    font-size: 80px;
    @media (max-width: 767px) {
        font-size: 60px;
    }
}
h2 {
    font-size: 40px;
    @media (max-width: 767px) {
        font-size: 26px;
    }
}
h3 {
    font-family: 'Jura', sans-serif;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}
h4 {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
button:focus {
    outline: none;
}
.button {
    font-family: 'BebasNeue', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    &:hover {
        opacity: 0.9;
    }

    &.more {
        border: 1px solid $secondary-text;
        background: transparent;
        color: $secondary-text;
        font-weight: 300;
        padding: 8px 60px 4px;
        &:hover {
            padding: 7px 59px 3px;
            border: 2px solid $secondary-text;
            text-decoration: none;
        }
        &:active {
            color: $main-white;
            background: $secondary-text;
        }
    }
}


p {
    margin: 16px 0 40px;
    letter-spacing: -0.05em;
}

// Header
.nav {
    margin-bottom: 70px;
    .container {
        display: flex;
        align-items: center;
        min-height: 80px;
    }
    .logo {
        display: inline-block;
        width: 150px;
        height: 48px;
        background: url('../img/logo.svg') no-repeat center;
        background-size: contain;
        margin-right: 30px;
    }
    .nav-link {
        font-size: 26px;
        color: $primary-blue;
        margin: 0 20px;
        text-align: center;
        white-space: nowrap;
        &:hover {
            opacity: 0.9;
        }
        &:active, &.active {
            color: $primary-red;
        }
    }
    .blocks {
        display: flex;
        .nav-link {
            color: $main-white;
            background: $primary-red;
            display: block;
            width: 370px;
            height: 80px;
            margin: -16px 0;
            border-bottom-left-radius: 80px;
            border-bottom-right-radius: 80px;
            text-transform: uppercase;
            padding-top: 24px;
            &:active, &.active {
                color: $primary-blue;
            }
            &.sites {
                background: $primary-blue;
                &:active, &.active {
                    color: $primary-red;
                }
            }
        }
        &.dual {
            .nav-link {
                width: 270px;
                margin-left: 30px;
            }
        }
    }
    @media (max-width: 1199px) {
        .blocks.dual .nav-link {
            width: 200px;
        }
    }
    @media (max-width: 991px) {
        margin-bottom: 40px;
        .container {
            padding: 0;
            min-height: 64px;
            background: $primary-blue;
        }
        .logo {
            width: 60px;
            min-width: 60px;
            height: 24px;
            background: url('../img/m-logo.svg') no-repeat center;
            background-size: contain;
            margin-right: 10px;
            margin-left: 16px;
        }
        .nav-link {
            font-family: 'BebasNeue', sans-serif;
            color: $main-white;
            margin: 0 10px;
            text-transform: uppercase;
            padding: 6px 0 0;
            &:active, &.active {
                color: $primary-red;
            }
            &.active {display: none;}
        }
        .blocks {
            .nav-link {
                color: $main-white;
                background: $primary-red;
                min-width: auto;
                width: auto;
                height: 64px;
                margin: 0;
                border-radius: 0;
                padding: 20px 30px;
                &:active, &.active {
                    color: $primary-blue;
                }
            }
            &.dual {
                .nav-link {
                    padding: 20px 10px 0;
                    margin: 0;
                    width: initial;
                    background: $primary-blue;
                    &:active, &.active {
                        color: $main-text;
                        background: $primary-red;
                    }
                }
            }
        }
    }
}
.bots {
    .nav {
        @media (max-width: 991px) {
            .container {
                background: $primary-red;
            }
        }
    }
}

// Sites
body.sites {
    .sites-mobile-image {
        margin-top: -66px;
        margin-bottom: 16px;
    }
    .button.fixed {
        color: $main-white;
        background: $primary-blue;
        &:active, &.active {
            color: $main-text;
            background: $primary-red;
        }
    }
    .wide-text {
        background: $primary-blue;
        color: $main-white;
    }
}

// Bots
body.bots {
    .button.fixed {
        color: $main-white;
        background: $primary-red;
        &:active, &.active {
            color: $primary-blue;
        }
    }
    .wide-text {
        background: $primary-red;
        color: $main-white;
    }
}

body.sites, body.bots {
    @media (max-width: 480px) {
        padding-bottom: 60px;
        .button.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            z-index: 10;
        }
    }
}

.first-section {
    margin-bottom: 100px;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}
.wide-text {
    padding: 64px 0;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
}


.works {
    padding-top: 85px;
    padding-bottom: 85px;
    @media (max-width: 767px) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    h3 {
        margin-bottom: 40px;
    }
    hr {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
.block-more {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s;
    &.open {
        padding: 20px 0;
        max-height: 1600px;
    }
}

ul {
    padding-top: 30px;
    padding-left: 0;
    list-style: none;
    @media (min-width: 992px) {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        column-gap: 30px;
    }
    li {
        margin-bottom: 20px;
        padding-left: 16px;
        position: relative;
        font-size: 16px;
        line-height: 20px;
        break-inside: avoid-column;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 6px;
            height: 6px;
            background: $main-text;
        }
    }

}