@font-face {
    font-family: 'BebasNeue';
    src: local('Bebas Neue Book'),
        local('BebasNeueBook'),
        // url('../fonts/bebasneuebook.woff2') format('woff2'),
        url('../fonts/bebasneuebook.woff?v=2') format('woff'),
        url('../fonts/bebasneuebook.ttf?v=2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: local('Bebas Neue Bold'),
    local('BebasNeueBold'),
    // url('../fonts/bebasneuebold.woff2') format('woff2'),
    url('../fonts/bebasneuebold.woff?v=2') format('woff'),
    url('../fonts/bebasneuebold.ttf?v=2') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
    font-family: 'Jura';
    src: local('Jura Book'), 
        local('JuraBook'),
        url('../fonts/jurabook.woff2') format('woff2'), 
        url('../fonts/jurabook.woff') format('woff'), 
        url('../fonts/jurabook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Jura';
    src: local('Jura Medium'), 
        local('JuraMedium'),
        url('../fonts/juramedium.woff2') format('woff2'), 
        url('../fonts/juramedium.woff') format('woff'), 
        url('../fonts/juramedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Jura';
    src: local('Jura Demi-Bold'),
        local('JuraDemiBold'),
        url('../fonts/jurademi-bold.woff2') format('woff2'), 
        url('../fonts/jurademi-bold.woff') format('woff'), 
        url('../fonts/jurademi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}