// Body
$body-bg: #d4d4d4;

// Typography
$font-family-sans-serif: 'Jura', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.2;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$body-color: #2C2D2E;
$black: #2C2D2E;


$primary-red: #E5752C;
$primary-blue: #09203F;
$main-text: #2C2D2E;
$main-white: #FFF;
$main-bg: #F7F7F7;
$main-lines: #D9D9D9;
$secondary-text: #888888;

$min-contrast-ratio: 2.5;
